<?xml version="1.0"?>
<robot name="champ" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find champ_description)/urdf/champ.urdf.xacro"/>
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <xacro:VLP-16 parent="base_link" name="velodyne" topic="velodyne_points" hz="10" samples="720" gpu="false" lasers="16" min_range="0.3" max_range="30">
    <origin xyz="0 0 ${base_z_length / 2 + 0.06}" rpy="0 0 0"/>
  </xacro:VLP-16>
</robot>
